//Código omitido

.opções_botão:checked~.lista-menu {
    display: block;
}
//Código omitido

.opções_botão:checked~.lista-menu {
    display: block;
    width: auto;
}
//Código omitido

.opções__botão {
    display: none;
}

