:root {
  --cor-de-fundo: #ebecee;
  --branco: #ffffff;
  --laranja: #eb9b00;
  --azul-degrade: linear-gradient(97.54deg, #002f52 35.49%, #326589 165.37%);
  --fonte-principal: "Poppins";
  --azul: #002f52;
  --fonte-secundario: "Josefin Sans";
}
//Código omitido

.opções_botão:checked~.lista-menu {
    display: block;
}
//Código omitido

.opções_botão:checked~.lista-menu {
    display: block;
    width: auto;
}
//Código omitido

.opções__botão {
    display: none;
}
@media screen and (min-width: 1024px) {
  .container__titulo,
  .container__titulo--negrito {
    font-family: var(--fonte-secundario);
    font-size: 30px;
  }
}
.container__titulo {
  font-weight: 400;
}

.container__titulo--negrito {
  font-weight: 700;
}
@media screen and (min-width: 1024px) {
  .container__titulo,
  .container__titulo--negrito {
    font-family: var(--fonte-secundario);
    font-size: 30px;
  }

  .container__titulo {
    font-weight: 400;
  }

  .container__titulo--negrito {
    font-weight: 700;
  }
}
@media screen and (min-width: 1024px) {
  /* Código omitido */

  .container__titulo {
    font-weight: 400;
    display: block;
  }
}
.container__titulo {
  display: none;
}
@media screen and (min-width: 1024px) {
  /* Código omitido */

  .opções {
    display: flex;
  }
}
@media screen and (min-width: 1024px) {
  /* Código omitido */

  .opções_item {
    padding: 0 1em;
    text-transform: uppercase;
  }
}
:root {
  --cor-de-fundo: #ebecee;
  --branco: #ffffff;
  --laranja: #eb9b00;
  --azul-degrade: linear-gradient(97.54deg, #002f52 35.49%, #326589 165.37%);
  --fonte-principal: "Poppins";
  --azul: #002f52;
  --fonte-secundario: "Josefin Sans";
  --preto: #000000;
}
@media screen and (min-width: 1024px) {
  /* Código omitido */

  .opções__link {
    text-decoration: none;
    color: var(--preto);
  }
}
.opções {
  display: none;
}
@media screen and (min-width: 1024px) {
  /* Código omitido */

  .container__imagem-transparente {
    display: none;
  }
}
@media screen and (min-width: 1024px) {
  /* Código omitido */

  .cabeçalho__menu-hamburguer {
    display: none;
  }
}
@media screen and (min-width: 1024px) {
  /* Código omitido */

  .opções_botão:checked ~ .lista-menu {
    display: block;
    width: auto;
  }

  /* Código omitido */
}
@media screen and (min-width: 1024px) {
  /* Código omitido */

  .opções_botão {
    display: none;
  }

  /* Código omitido */
}
.banner__titulo {
    font-size: 18px;
    font-weight: 700;
}
@media screen and (min-width: 1024px) {
    .banner__titulo {
        font-size: 36px;
    }
}
@media screen and (min-width: 1024px) {
    .banner__titulo {
        font-size: 36px;
    }
}
@media screen and (min-width: 1024px) {
    .banner__titulo {
        font-size: 36px;
    }

    .banner__pesquisa {
        width: 50%;
    }

    .banner__pesquisa::placeholder {
        background-position: 7em;
    }
}
@media screen and (min-width: 1024px) {
    .carrossel__titulo {
        font-size: 26px;
    }

    .swiper-pagination {
        margin: 2em 0 3em 0;
    }

    .swiper {
        width: 60%;
    }
}
@media screen and (min-width: 1024px) {
    .carrossel__titulo {
        font-size: 26px;
    }

    .swiper-pagination {
        margin: 2em 0 3em 0;
    }

    .swiper {
        width: 60%;
    }

    .swiper-button-prev,
    .swiper-button-next {
        display: block;
        top: 60%;
    }

    .card {
        width: 40%;
        margin: 2em auto;
    }
}
<section class="carrossel">
        <h2 class="carrossel__titulo">Novos lançamentos</h2>
        <!-- Código omitido… -->
</section>

<section class="carrossel">
        <h2 class="carrossel__titulo">Mais vendidos</h2>
        <!-- Código omitido… -->
</section>
@media screen and (min-width: 1024px) {
    .contato {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .contato__email {
        width: 30%;
    }
}
@media screen and (min-width: 1024px) {
    .contato {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .contato__titulo {
        font-size: 24px;
    }

    .contato__descrição {
        margin-right: 1em;
        width: 30%;
    }

    .contato__email {
        width: 30%;
    }
}

